<%= content_tag :div, class: 'media comment', id: dom_id(comment) do %>
  <div class="media-left">
    <div class="comment--avatar">
      <%= bootstrap_icon_tag('user') %>
    </div>
  </div>
  <div class="media-body comment--body">
    <div class="media-heading comment--heading">
      <strong><%= comment.user_full_name %></strong><br />
      <small><em><%= comment.created_at.to_s(:ui_with_time) %></em></small>
    </div>

    <%= simple_format(comment.body) %>

    <%= delete_link(comment, text: true, remote: true) %>
  </div>
<% end %>
