<tr class="<%= node.highlighting %>" id="<%= dom_id(node) %>_invalid">
  <td><%= node_type_label(node) %></td>
  <td><%= node.name %></td>
  <td>
    <ul class="list-group">
      <% node.errors.full_messages.each do |error| %>
        <li class="list-group-item"><%= error %></li>
      <% end %>
    </ul>
  </td>
  <td>
    <ul class="list-group">
      <% node.warnings.full_messages.each do |warning| %>
        <li class="list-group-item"><%= warning %></li>
      <% end %>
    </ul>
  </td>
  <td>
    <div class="pull-right">
      <% if can?(:destroy, node) %>
        <%= delete_link(node_path(node), method: :delete, remote: true, data: { confirm: "Are you sure you want to remove #{node.name} from #{@dataset_version.name}?" }, skip_authorization: true)%>
      <% end %>
      <% if can?(:update, node) %>
        <%= edit_link edit_node_error(node), remote: true, skip_authorization: true %>
      <% end %>
    </div>
  </td>
</tr>
