<%= bootstrap_form_for([@dataset_version, @group], url: dataset_version_entities_path(@dataset_version, @group), horizontal: true) do |form| %>
  <%= form.hidden_field :id, value: @group.id %>
  <%= form.hidden_field :parent_id, value: @group.parent_id %>
  <!-- TODO: sort -->
  <%= form.hidden_field :sort, value: 0 %>
  <%= form.hidden_field :dataset_version_id, value: @dataset_version.id %>
  <%= form.control_group :name, 'Name' do %>
    <%= form.text_field :name %>
  <% end %>
  <%= button_control_group nil do %>
    <div class='pull-right'>
      <%= close_modal %>
      <%= submit_tag('Save', class: 'btn btn-primary', disable_with: 'Saving&hellip;'.html_safe) %>
    </div>
  <% end %>
  <ul class="errors"></ul>
<% end %>
