<div id="tab-content" class='tab-content clearfix'>
  <div class="tab-pane  active in" id="details" >
    <div class="panel panel-default" style="border-top: 0px;">
      <div class="panel-heading">
        <span style="font-size: 1.5em;">Project Details</span>
        <div class="pull-right">
          <%= edit_link @project, text: true, class: 'btn btn-default' %>
        </div>
      </div>
    </div>
    <%= render "projects/#{@project.project_type_name.downcase}/form", readonly: true %>
  </div>
  <div class="tab-pane " id="users">
    <div class="row">
      <div class="col-md-12" >
        <div class="panel panel-default" style="border-top:0px">
          <%= render 'project_grants' %>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane " id="comments">
    <%= render 'project_comments', project: project, comments_count: sub_resource_counts.fetch(:comments, 0) %>
  </div>

  <% if can?(:read, Communication) %>
    <div class="tab-pane" id="communications">
      <%= render 'communications', project: project, comments_count: 0 %>
    </div>
  <% end %>

  <%= render 'project_datasets', project: @project %>
  <%= render 'project_timeline', project: @project, comments_count: sub_resource_counts.fetch('workflow/project_states.comments', {}) %>
  <%= render 'related_projects', project: @project %>
</div>
