<%
  section ||= nil
%>

<% if @project.current_state.id == 'SUBMITTED' %>
  <% if can?(:approve, @project) %>
    <% if project.details_approved.nil? %>
      <div class="btn-group" role="group">
        <%= button_to 'Approve', project_details_approval_path(project), remote: true, class: 'btn btn-sm btn-success' %>
      </div>
      <div class="btn-group", role="group">
        <%= link_to 'Decline', new_project_details_rejection_path(project), remote: true, class: 'btn btn-sm btn-danger' %>
      </div>
    <% else %>
      <div class="btn-group" role="group">
        <%= button_to 'X', project_details_approval_path(project), method: :delete, remote: true, class: 'btn btn-default btn-xs', title: 'Undo', rel: 'tooltip', data: { placement: 'left', container: 'body' } %>
      </div>
      <span id="details_approval_status" class="label label-<%= approval_button_style(@project.details_approved) %>"><%= approval_button_message(@project.details_approved) %></span>
    <% end %>
  <% end %>
<% else %>
  <% if can?(:update, @project) && @project.current_state.id != 'REVIEW' %>
    <%= link_to bootstrap_icon_tag('pencil') + ' Edit', edit_project_path(@project, section: section), class: 'btn btn-default' %>
  <% end %>
<% end %>

<script type="text/javascript">
  jQuery('a').tooltip();
</script>
