<%
  section ||= nil
%>

<% if @project.current_state.id == 'SUBMITTED' %>
  <% if can?(:approve, @project) %>
    <% if project.details_approved.nil? %>
        <%= link_to 'Approve', approve_project_details_project_path(:id => project.id, "project[details_approved]" => true), method: :patch, remote: true, class: 'btn btn-success btn-sm' %>
        <%= link_to ' Decline', new_project_project_comment_path(@project, comment_type: 'DetailRejection'), remote: true, class: 'btn btn-danger btn-sm' %>
    <% else %>
      <%= link_to 'X', approve_project_details_project_path(:id => project.id, "project[details_approved]" => ''), method: :patch, remote: true, class: 'btn btn-default btn-xs', title: 'Undo', rel: 'tooltip', "data-placement" => "left" %>
      <span id="details_approval_status" class="label label-<%= approval_button_style(@project.details_approved) %>"><%= approval_button_message(@project.details_approved) %></span>
    <% end %>
  <% end %>
<% else %>
  <% if can?(:update, @project) && @project.current_state.id != 'REVIEW' %>
    <%= link_to bootstrap_icon_tag('pencil') + ' Edit', edit_project_path(@project, section: section), class: 'btn btn-default' %>
  <% end %>
<% end %>

<script type="text/javascript">
  jQuery('a').tooltip();
</script>
