<% if can?(:approve, @project) %>
  <% if project.legal_ethical_approved.nil? %>
      <%= link_to 'Approve', approve_project_legal_project_path(:id => project.id, "project[legal_ethical_approved]" => true), method: :patch, remote: true, class: 'btn btn-success btn-sm' %>
      <%= link_to ' Decline', new_project_project_comment_path(@project, comment_type: 'LegalRejection'), remote: true, class: 'btn btn-danger btn-sm' %>
  <% else %>
    <%= link_to 'X', approve_project_legal_project_path(:id => project.id, "project[legal_ethical_approved]" => ''), method: :patch, remote: true, class: 'btn btn-default btn-xs', title: 'Undo', rel: 'tooltip', "data-placement" => "left" %>
    <span id="legal_approval_status" class="label label-<%= approval_button_style(@project.legal_ethical_approved) %>"><%= approval_button_message(@project.legal_ethical_approved) %></span>
  <% end %>
<% end %>

<% if can?(:update, @project) %>
  <%= link_to bootstrap_icon_tag('pencil') + ' Edit', edit_project_path(@project, section: section), remote: true, class: 'btn btn-default' %>
<% end %>

<script type="text/javascript">
  jQuery('a').tooltip();
</script>
