<% if can?(:approve, @project) %>
  <% if project.members_approved.nil? %>
    <div class="btn-group" role="group">
      <%= button_to 'Approve', project_members_approval_path(project), remote: true, class: 'btn btn-success btn-sm' %>
    </div>
    <div class="btn-group" role="group">
      <%= link_to ' Decline', new_project_members_rejection_path(project), remote: true, class: 'btn btn-danger btn-sm' %>
    </div>
  <% else %>
    <div class="btn-group" role="group">
      <%= button_to 'X', project_members_approval_path(project), method: :delete, remote: true, class: 'btn btn-default btn-xs', title: 'Undo', rel: 'tooltip', data: { placement: 'left', container: 'body' } %>
    </div>
    <span id="members_approval_status" class="label label-<%= approval_button_style(@project.members_approved) %>"><%= approval_button_message(@project.members_approved) %></span>
  <% end %>
<% end %>

<script type="text/javascript">
  jQuery('a').tooltip();
</script>
