<%
# set default local variable(s)
dataset_link = false if local_assigns[:dataset_link].nil? 
%>
<table data-toggle="table" class="table table-hover" id="projects-table">
  <thead>
    <tr>
      <th>DMS ID</th>
      <th>Applicant</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% projects.each do |project| %>
      <tr>
        <td><%= project.id %></td>
        <td><%= project.owner_full_name %></td>
        <td>
          <div class="pull-right">
            <%= button_group do %>
              <% if dataset_link %>
                <%= details_link(project_path(project, anchor: "!datasets"),
                                 skip_authorization: true) %>
              <% else %>
                <%= details_link project %>
              <% end %>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
