<div class="tab-pane" id="dpias">
  <div class="panel panel-default" style="border-top: 0px;">
    <div class="panel-heading" style="font-size: 1.5em;">
      <%= DataPrivacyImpactAssessment.model_name.human(count: 2) %>
    </div>
  </div>

  <table class="table table-condensed">
    <thead>
      <tr>
        <th><%= DataPrivacyImpactAssessment.human_attribute_name(:reference) %></th>
        <th><%= DataPrivacyImpactAssessment.human_attribute_name(:ig_toolkit_version) %></th>
        <th><%= DataPrivacyImpactAssessment.human_attribute_name(:ig_assessment_status_id) %></th>
        <th><%= DataPrivacyImpactAssessment.human_attribute_name(:review_meeting_date) %></th>
        <th><%= DataPrivacyImpactAssessment.human_attribute_name(:dpia_decision_date) %></th>
        <th><%= 'DPIA attached' %></th>
        <th>
          <div class="pull-right">
            <% if can?(:create, DataPrivacyImpactAssessment.new(project: project)) %>
              <%= link_to_with_icon(icon: 'plus-sign', text: true, title: 'New', path: new_project_data_privacy_impact_assessment_path(project), class: 'btn btn-primary btn-xs') %>
            <% end %>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <% project.dpias.accessible_by(current_ability).find_each do |dpia| %>
        <%= content_tag(:tr, id: dom_id(dpia)) do %>
          <td><%= dpia.reference %></td>
          <td><%= dpia.ig_toolkit_version %></td>
          <td><%= dpia.ig_assessment_status_value %></td>
          <td><%= dpia.review_meeting_date&.to_s(:ui) %></td>
          <td><%= dpia.dpia_decision_date&.to_s(:ui) %></td>
          <td id='dpia_attached_date'><%= dpia&.attachment&.created_at&.to_s(:ui) %></td>
          <td>
            <div class="pull-right">
              <%= inline_controls_for(dpia) %>
            </div>
          </td>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
