<%
  relationship = project == parent ? :parent : (project == context ? :self : :child)
%>

<ul style="list-style-type: none;">
  <li>
    <h4>

      <%= details_link(project, class: 'btn btn-default btn-xs') %>
      <%= project.name %><br />
      <small>
        <span class="label label-default"><%= relationship %></span>
        <%= project_type_label(project) %>
        <%= project_status_label(project) %><br />
        <%= project.description || project.project_purpose %>
      </small>
    </h4>
    <hr />

    <% if project == parent %>
      <%= render 'heirarchy', context: context, project: context, parent: project %>
    <% elsif project == context%>
      <% project.children.accessible_by(current_ability).find_each do |child| %>
        <%= render 'heirarchy', context: context, project: child, parent: project %>
      <% end %>
    <% end %>
  </li>
</ul>
