<div id="modal-<%= state.id.downcase %>" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_with(model: project, url: transition_project_path(project, state: state.id), method: :patch, local: false) do |form| %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title"><%= state.name(project) %></h4>
        </div>
        <div class="modal-body">
          <% if state.id == 'REJECTED' && current_user.application_manager? && project.odr? %>
            <div class="form-group">
              <%= form.label :closure_reason_id, 'Closure Reason' %>
              <%= form.collection_select(:closure_reason_id, Lookups::ClosureReason.rejectable, :id, :value, {}, class: 'form-control') %>
            </div>
          <% end %>

          <% if state.assignable_users.any? %>
            <%= form.fields_for(:project_state) do |project_state_form| %>
              <%= project_state_form.label :assigned_user_id, t(state.id.downcase, scope: [:helpers, :'workflow/assignment', :assigned_user], default: :default) %>
              <%= project_state_form.collection_select :assigned_user_id, state.assignable_users, :id, :full_name, { disabled: current_user.id }, class: 'form-control' %>
            <% end %>
          <% end %>

          <% unless state.id.in? %w[DPIA_REVIEW] %>
            <%= form.fields_for(:comments, project.comments.build) do |comment_form| %>
              <div class="form-group">
                <%= comment_form.label :body, 'Comment' %>
                <%= comment_form.text_area(:body, class: 'form-control', rows: 8) %>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="modal-footer">
          <div class="pull-right">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <%= form.submit 'Save', class: 'btn btn-primary' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
