  <div class='row form-group'>
    <label class="control-label col-md-3" for="project_start_date">Data already held for this project / purpose ?</label>
    <div class='col-md-3'>
      <%= form.select :data_already_held_for_project, [['Yes',true],['No',false]], {include_blank: true, required: true} %>
    </div>
  </div>
  <%= render 'projects/project_owner_grant', form: form %>

  <fieldset>
	<legend>Data specification</legend>
    <div class='row' id="multi_project_datasets">
      <!-- TODO: Hide add button if only one dataset is available for selection -->
      <%= form.control_group :project_datasets, link_to_add_row('Add Dataset', form, :project_datasets, partial: 'projects/project/project_dataset', class: 'btn btn-primary') do %>
        <ul class='repeatable-fields list-group'>
          <%= form.fields_for :project_datasets do |builder| %>
            <%= render 'projects/project/project_dataset', form: builder %>
          <% end %>
        </ul>
      <% end %>
    </div>
		<div class="row" id='dataset_terms_message_div'>
			<div class="col-md-3"></div>
      <div class="col-md-9">
				<%= bootstrap_panel_tag(capture { %>
				  <h3 class="panel-title clearfix">Terms for data source</h3>
 			  <% }) do %>
				  <div class="panel-body" style="padding-top:8px;padding-bottom:30px">
			      <div class="panel-body" style="padding-top:8px;padding-bottom:30px" id='dataset_terms_message'>
					  </div>
				  </div>
				<% end %>
			</div>
		</div>

    <div class='row form-group'>
      <label class="control-label col-md-3" for="cohort_inclusion_exclusion_criteria_id" title='Please describe unambiguously any inclusion (eligibility) criteria used to define the population of interest and any filters that should be applied to the data you are requesting'>
        Cohort inclusion & exclusion criteria
      </label>
      <div class='col-md-9'>
        <%= form.text_area :cohort_inclusion_exclusion_criteria %>
      </div>
    </div>

		<%= form.control_group :data_linkage, 'Specify any data linkage requirements and data flows' do %>
      <%= form.text_area :data_linkage %>
    <% end %>

    <div class='row form-group'>
      <label class="control-label col-md-3" for="project_frequency">Frequency</label>
      <div class='col-md-3'>
         <%= form.select :frequency, ['One off','Monthly','Quarterly','Weekly', 'Annually','Other'], {include_blank: true, required: true} %>
      </div>
      <div class='col-md-6'>
        <%= form.text_field :frequency_other, "data-depends-on" => "#project_frequency", "data-depends-on-value" => "Other" %>
      </div>
    </div>

    <%= form.control_group :how_data_will_be_used, 'How will data be used' do %>
      <%= form.text_area :how_data_will_be_used %>
    <% end %>

    <div class='row form-group'>
      <label class="control-label col-md-3" for="project_acceptance">Level of Identifiability</label>
      <div class='col-md-9'>
        <%= form.select :level_of_identifiability, Lookups::IdentifiabilityLevel.pluck(:value), required: true %>
      </div>
    </div>

  <fieldset>
	<legend>Program support</legend>

    <div class='row form-group'>
      <label class="control-label col-md-3" for="project_acg_support">
      	Has the associate Caldicott guardian (ACG) support been sought / granted ?
      </label>
      <div class='col-md-3'>
        <%= form.select :acg_support, [['Yes',true],['No',false]], {include_blank: true, required: true} %>
      </div>
    </div>

    <div class='row form-group', data-depends-on="#project_acg_support", data-depends-on-value="true">
      <label class="control-label col-md-3" for="project_acg_who">Whom</label>
      <div class='col-md-9'>
        <%= form.text_field :acg_who, "data-depends-on" => "#project_acg_support", "data-depends-on-value" => "true" %>
      </div>
    </div>
    <div class='row form-group', data-depends-on="#project_acg_support", data-depends-on-value="true">
      <label class="control-label col-md-3" for="project_acg_date">When</label>
      <div class='col-md-9'>
        <%= form.text_field :acg_date, "data-depends-on" => "#project_acg_support", "data-depends-on-value" => "true", data: { provide: 'datepicker' } %>
      </div>
    </div>

    <div class='row form-group', data-depends-on="#project_acg_support", data-depends-on-value="true">
	    <label class="control-label col-md-3" for="project_caldicott_email">Email</label>
		  <div class='col-md-9'>
		    <%= form.text_field :caldicott_email, "data-depends-on" => "#project_acg_support", "data-depends-on-value" => "true" %>
		   </div>

		</div>
  </fieldset>
