<div id='project_data_items_information' class="row">
  <div class=" col-md-12">
    <div class="panel panel-default" style="border-top:0px">
      <div class="panel-heading" style="border-top:0px">
        <div class="row">
          <div class="col-md-6">
            <div class="pull-left" style="font-size:1.5em">
              Data Items Selected
            </div>
          </div>
          <div class="col-md-6">
            <div class="pull-right">
                <% if can?(:update, @project) %>
                  <%= link_to bootstrap_icon_tag('pencil') + ' Add / Remove data items', edit_data_source_items_project_path(@project) , class: 'btn btn-primary' %>
                <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="pull-right">
        <div id='approve_all_data_source_items'>
          <%= render partial: '/projects/approve_all_nodes_section', locals: { project: @project } %>
        </div>
      </div>
    </div>
    <div id="project-data-items">
      <% if @project.unjustified_data_items.positive? %>
        <%= bootstrap_alert_tag 'danger', t('.justification'), dismissable: true %>
      <% end %>

      <table class="table table-hover" >
        <thead>
          <tr>
            <th>Dataset</th>
            <th width="20%">Name</th>
            <th width="30%">Description</th>
            <th>Comments</th>
            <th>Status</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @project.project_nodes.sort_by { |i| i.governance&.value }.each do |data_item| %>
            <tr id="<%= dom_id(data_item) %>" class='project_data_items_table'>
              <%= render '/project_nodes/project_node_approvals', data_item: data_item, comments_count: comments_count.fetch(data_item.id, 0) %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
