<%
  project_states = project.project_states.
                    accessible_by(current_user.current_ability).
                    includes(:state, :user).
                    includes(assignments: :assigned_user).
                    order(created_at: :desc)
%>

<div class="tab-pane" id="timeline">
  <div class="panel panel-default" style="border-top: 0px;">
    <div class="panel-heading" style="font-size: 1.5em;">
      Status Updates
    </div>
  </div>

  <table class="table table-condensed">
    <thead>
      <tr>
        <th><%= Workflow::ProjectState.human_attribute_name(:created_at) %></th>
        <th><%= Workflow::ProjectState.human_attribute_name(:user) %></th>
        <th><%= Workflow::Assignment.human_attribute_name(:assigned_user) %></th>
        <th><%= Workflow::ProjectState.human_attribute_name(:state) %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% project_states.each do |project_state| %>
        <%= content_tag(:tr, class: dom_class(project_state), id: dom_id(project_state)) do %>
          <td><%= project_state.created_at.to_s(:long) %></td>
          <td><%= project_state.user&.full_name || 'System' %></td>
          <td class="text-left"><%= timeline_allocated_user_label(project_state, current_user) %></td>
          <td class="text-left"><%= project_status_label(project, project_state.state) %></td>
          <td class="text-right">
            <%= link_to(polymorphic_path([project_state, :comments]), remote: true) do %>
              <%= Comment.model_name.human.pluralize %>
              <%= comments_count_badge_for(project_state, comments_count[project_state.id] || 0) %>
            <% end %>
          </td>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
