<div data-controller="cas-form">
  <% unless @readonly %>
  <fieldset>
    <legend>Role based dataset defaults</legend>
    <input data-target="cas-form.default_checkbox" data-action="change->cas-form#check_using_roles" type="checkbox" id="ca_group"> Cancer Analyst
    <input data-target="cas-form.default_checkbox" data-action="change->cas-form#check_using_roles" type="checkbox" id="d_group"> Developer
    <input data-target="cas-form.default_checkbox" data-action="change->cas-form#check_using_roles" type="checkbox" id="qa_group"> QA
  </fieldset>
  <% end %>
  <br><br>
  <fieldset>
    <legend>Default Datasets</legend>
    <table id="default_datasets" class="table table-hover">
      <thead>
        <tr>
          <th colspan="6" style="text-align:center; border-top: 0px;">Dataset name</th>
          <th colspan="2" style="text-align:center; border-top: 0px;">Level 1</th>
          <th colspan="2" style="text-align:center; border-top: 0px;">Level 2</th>
          <th colspan="2" style="text-align:center; border-top: 0px;">Level 3</th>
        </tr>
      </thead>
      <tbody>
        <%= form.fields_for :project_datasets, @project.project_datasets.select { |dataset| Dataset.cas_defaults.pluck(:id).include? dataset.dataset_id }.sort_by(&:dataset_id) do |pd| %>
          <tr id="dataset_<%=pd.object.dataset.id=%>_row">
            <%= pd.hidden_field :dataset_id, value: pd.object.dataset_id %>
            <td colspan="6" data-toggle="tooltip" data-placement="left" title="<%= pd.object.dataset.name %>">
              <%= truncate(pd.object.dataset.name) %>
            </td>
            <%= pd.fields_for :project_dataset_levels, pd.object.project_dataset_levels.sort_by(&:access_level_id) do |pdl| %>
              <% if pd.object.dataset.levels.include? pdl.object.access_level_id %>
                <%= pdl.hidden_field :access_level_id, value: pdl.object.access_level_id %>
                <td id="level_<%= pdl.object.access_level_id %>_selected" width="3%"><%= pdl.check_box :selected, class: check_box_class(pd.object.dataset, pdl.object.access_level_id), id: "dataset_#{pd.object.dataset.id}_level_#{pdl.object.access_level_id}_check_box", readonly_value: check_icon(pdl.object.selected), "data-target": "cas-form.level cas-form.default_checkbox" %></td>
                <td id="level_<%= pdl.object.access_level_id %>_expiry_date" width="20%"><%= pdl.datepicker_field :expiry_date, id: "dataset_#{pd.object.dataset.id}_level_#{pdl.object.access_level_id}_expiry_datepicker", placeholder: "Expiry date", readonly_value: display_level_date(pdl.object), "data-target": "cas-form.expiry_date" %></td>
              <% else %>
                <td id="level_<%= pdl.object.access_level_id %>_selected"></td>
                <td id="level_<%= pdl.object.access_level_id %>_expiry_date" style="text-align:center;">-</td>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </fieldset>
</div>