<fieldset>
  <legend>Permissions</legend>

  <%= form.label :reason_justification %>
  <%= form.text_area :reason_justification, rows: 8 %>

  <p><em><%= t('.level_access_note') %></em></p>
  <p>&nbsp;</p>

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <%= form.label :extra_datasets_rationale %>
      <%= form.text_area :extra_datasets_rationale, rows: 4 %>
    </div>
  </div>
</fieldset>
