<fieldset>
  <%= content_tag :p, t('.extra_datasets_note') %>
  <%= form.label :extra_datasets %>
  <table class="table">
    <tr>
      <th>Dataset</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
    </tr>
    <%= form.fields_for :project_datasets do |pd| %>
      <tr>
        <td width="85%"><%= pd.object.dataset.name %></td>
        <td width="5%"><%= pd.check_box :level_one, readonly_value: check_icon(pd.object.level_one) %></td>
        <td width="5%"><%= pd.check_box :level_two, readonly_value: check_icon(pd.object.level_two) %></td>
        <td width="5%"><%= pd.check_box :level_three, readonly_value: check_icon(pd.object.level_three) %></td>
      </tr>
    <% end %>
  </table>
</fieldset>
