<div class="panel panel-default panel-entity">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-9">
        <h3 class="panel-title">
          <%= node_type_label(node) %> <%= node.name %>
        </h3>
      </div>
      <div class="col-md-3">
        <%= new_node_dropdown_button(@dataset_version, node) %>
      </div>
    </div>
  </div>
  <%= render partial: 'nodes/node_categories', locals: { node: node } if @dataset_version.categories.present? %>
  <%= render partial: 'dataset_versions/child_nodes_table', locals: { node: node } %>
</div>
