  <% url = team_grants_url(@team) %>
  <%= form_tag(url, method: :patch) %>
  <%= hidden_field_tag "grants[team_id]", @team.id %>
  <%= text_field_tag :user_search, '',
                     placeholder: "Filter #{User.model_name.human.pluralize}...",
                     style: 'width:100%' %>
  <%= bootstrap_panel_tag panel_heading_segments(
    left: link_to('Team', team_path(@team), class: 'btn btn-default'),
    center: content_tag(:h4) { "Edit #{@team.name} Grants" }

  ) do %>
  <% end %>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>User</th>
          <th>Email</th>
          <% TeamRole.all.each do |role|%>
            <th><%= role.name %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <!-- TODO: scope Users with read only role and not other roles-->
        <% User.all.each do |user| %>
          <%= content_tag(:tr, 'data-user-name' => user&.full_name.concat(user&.email)) do %>
            <td><%= link_to(user.full_name, user) if user %></td>
            <td><%= user.email %></td>
             <% TeamRole.all.each do |role| %>
             <% already_granted = user.role?(role, at: @team) %>
               <td>
                 <%= hidden_field_tag "grants[users][#{user.id}][#{role.id}]", nil %>
                 <%= check_box_tag    "grants[users][#{user.id}][#{role.id}]", 1, already_granted %>
               </td>
             <% end %>
          <% end %>
        <% end %>
      </tbody>
    </table>

    <div class="row">
      <div class="col-md-2 col-md-offset-4">
        <%= link_to 'Cancel', url, class: 'btn btn-default btn-block' %>
      </div>
      <div class="col-md-2">
        <%= submit_tag 'Update Roles', class: 'btn btn-primary btn-block' %>
      </div>
    </div>
  </form>


<script type="text/javascript">
  jQuery(document).ready(function() {
    // This is a static list:
    var userLookup = {},
        searchFunction  = function() {
          var search = $searchField.val().toLowerCase(),
              $toShow = jQuery(),
              $toHide = jQuery();

          jQuery.each(userLookup, function(value, $row) {
            if (~value.indexOf(search)) {
              $toShow = $toShow.add($row);
            } else {
              $toHide = $toHide.add($row);
            }
          });

          $toShow.show();
          $toHide.hide();
        },
        debounceTimer,
        $searchField;

    jQuery('tr[data-user-name]').each(function(_index, item) {
      var $row = jQuery(item);
      userLookup[$row.data('user-name').toLowerCase()] = $row;
    });

    jQuery('#user_search').on('keyup change', function(event) {
      // Set the shared variable, so we don't have to rebind (problem in IE8)
      $searchField = jQuery(event.target);

      // Don't filter more than five times per second:
      if (debounceTimer) clearTimeout(debounceTimer);
      debounceTimer = setTimeout(searchFunction, 200);
    });
  });
</script>
