<tr class="<%= publish_tr_class(version) %>">
  <td><%= version.dataset.team&.name %></td>
  <td>
    <% if first %>
      <% if dataset_versions_for_user(version.dataset).count > 1 && first %>
        <% target = "#{dom_id(version.dataset)}_historical_versions" %>
        <%#= link_to() %>
        <a role="button" data-toggle="collapse" data-target="#<%= target %>" aria-expanded="false" aria-controls="<%= target %>">
          <%= version.dataset.name %>
        </a>
      <% else %>
        <%= version.dataset.name %>
      <% end %>
    <% end %>
  </td>
  <td><%= version.semver_version %></td>
  <td colspan="2"><%= version.dataset.full_name %></td>
  <td class="text-right"><%= version.data_items.length %></td>
  <td><%= version.dataset.terms.nil? ? 'None' : 'Y' %></td>
  <!-- TODO: Dry up button choices -->
  <td><%= render('datasets/add_new_version', dataset: version.dataset, readonly: readonly) if first %></td>
  <td nowrap="nowrap">
    <div class="pull-right">
      <%= button_group do %>
        <% unless readonly %>
          <% if can?(:destroy, version) %>
            <%= delete_link(version, method: :delete, data: { confirm: "Are you sure you want to delete Dataset: #{version.semver_version}" } )%>
          <% end %>
          <% if can?(:update, version) %>
             <%= edit_link version, remote: true %>
          <% end %>
        <% end%>
        <%= details_link version %>
      <% end %>      
    </div>
  </td>
</tr>
