<div class="panel panel-default" id="user-team-grants">
  <div class="panel-heading">Team Roles</div>  
  <% if @grants.teams.length.positive? %>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Team</th>
          <% TeamRole.all.each do |role| %>
            <th><%= role.name %></th>
          <% end %>
          <th>
            <% if can?(:edit_team_grants, @user) %>
              <%= edit_link edit_team_user_grants_path(@user), class: 'btn btn-default btn-xs pull-right', text: true, skip_authorization: true %>
            <% end %>
          </th>
        </tr>
      </thead>
      <tbody>
        <% teams = @grants.teams.map(&:team).uniq.sort_by { |t| t.try(:name).to_s } %>
        <% teams.each do |team|%>
          <tr>
            <td><%= link_to(team.name, team)  %></td>
            <% TeamRole.all.each do |role| %>
              <td>
                <%= @user.role?(role, at: team) && bootstrap_icon_tag(:ok) %>
              </td>
            <% end %>
          </tr>
        <% end %>    
      </tbody>
    </table>
  <% else %>
    <% if can?(:edit_team_grants, @user) %>
      <div class="clearfix">
        <%= edit_link edit_team_user_grants_path(@user), class: 'btn btn-default btn-xs pull-right', text: true, skip_authorization: true %>
      </div>
    <% end %>

    <p class="lead text-center">This user currently has no team granted roles</p>
  <% end %>
</div>