<%= render layout: @user.to_partial_path do %>
  <% url = user_grants_url(@user) %>
  <%= form_tag(url, method: :patch) %>
  <%= text_field_tag :team_search, '',
                     placeholder: "Filter #{Team.model_name.human.pluralize}...",
                     style: 'width:100%' %>
  
    <table id="edit-team-grants" class="table table-hover">
      <thead>
        <tr>
          <th>Team</th>
          <% TeamRole.all.each do |role| %>
            <th><%= role.name %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <!-- TODO: Teams by organisation -->
        <% @user.teams.each do |team| %>
          <%= content_tag(:tr, id: team.id, 'data-team-name' => team.try(:name)) do %>
            <td><%= link_to(team.name, team) if team %></td>
            <% TeamRole.all.each do |role| %>
            <% already_granted = @user.role?(role, at: team) %>
              <td>
                <%= hidden_field_tag "grants[TeamRole][#{team.id}][#{role.id}]", nil %>
                <%= check_box_tag    "grants[TeamRole][#{team.id}][#{role.id}]", 1, already_granted %>
              </td>
            <% end %>
          <% end %>
        <% end %>
      </tbody>
    </table>

    <div class="row">
      <div class="col-md-2 col-md-offset-4">
        <%= link_to 'Cancel', url, class: 'btn btn-default btn-block' %>
      </div>
      <div class="col-md-2">
        <%= submit_tag 'Update Roles', class: 'btn btn-primary btn-block' %>
      </div>
    </div>
  </form>
<% end %>

<script type="text/javascript">
  jQuery(document).ready(function() {
    // This is a static list:
    var teamLookup = {},
        searchFunction  = function() {
          var search = $searchField.val().toLowerCase(),
              $toShow = jQuery(),
              $toHide = jQuery();

          jQuery.each(teamLookup, function(value, $row) {
            if (~value.indexOf(search)) {
              $toShow = $toShow.add($row);
            } else {
              $toHide = $toHide.add($row);
            }
          });

          $toShow.show();
          $toHide.hide();
        },
        debounceTimer,
        $searchField;

    jQuery('tr[data-team-name]').each(function(_index, item) {
      var $row = jQuery(item);
      teamLookup[$row.data('team-name').toLowerCase()] = $row;
    });

    jQuery('#team_search').on('keyup change', function(event) {
      // Set the shared variable, so we don't have to rebind (problem in IE8)
      $searchField = jQuery(event.target);

      // Don't filter more than five times per second:
      if (debounceTimer) clearTimeout(debounceTimer);
      debounceTimer = setTimeout(searchFunction, 200);
    });
  });
</script>
