<td><%= data_item.node.dataset.name %></td>
<td>
  <a class='governance-tool-tip' data-toggle="tooltip" data-placement="left" title="<%= data_item.node.governance_value.titleize %>">
    <%= bootstrap_icon_tag(data_item.node.identifiable_icon) %>
  </a>
  <%= data_item.node.name %>
</td>
<td><%= data_item.node.description %></td>
<td>
  <%= link_to(polymorphic_path([data_item, :comments]), remote: true) do %>
    <%= Comment.model_name.human.pluralize %>
    <%= comments_count_badge_for(data_item, comments_count) %>
  <% end %>
</td>
<td>
  <% if data_item.project.current_state.id == 'REVIEW' ||
  	  (data_item.project.current_state.id == 'SUBMITTED' && !current_user.odr?) %>
    Pending
  <% elsif data_item.project.current_state.id != 'DRAFT' %>
    <span id="data_item_status" class="label label-<%= approval_button_style(data_item.approved) %>"><%= approval_button_message(data_item.approved) %></span>
  <% end %>
</td>
<td>
  <div class="pull-right">
    <% if data_item.project.current_state.id == 'DRAFT' %>
      <%= link_to_with_icon(icon: 'plus', title: 'Add Justification', text: true, path: polymorphic_path([data_item, :comments], params: { tags: ['DataSourceItemJustification'] }), remote: true, class: 'btn btn-xs btn-primary') %>
    <% end %>

    <% if current_user.can?(:destroy, data_item) && !team_delegate_user?(@project) %>
      <%= delete_link(data_item, method: :delete, remote: true, data: { confirm: "Are you sure you want to remove #{data_item.node.name} from #{@project.name}?" }, id: 'delete_project_data_item' )%>
    <% end %>

    <% if can?(:approve, data_item) %>
      <% if data_item.approved.nil? %>
        <div class="btn-group" role="group">
          <%= form_with url: project_node_approval_path(data_item), local: false do |form| %>
            <button type="submit" class="btn btn-success btn-sm">
              <%= bootstrap_icon_tag('ok') %>
            </button>
          <% end %>
        </div>
        <div class="btn-group" role="group">
          <%= link_to bootstrap_icon_tag('remove'), new_project_node_rejection_path(data_item), remote: true, class: 'btn btn-danger btn-sm' %>
        </div>
      <% else %>
        <div class="btn-group" role="group">
          <%= button_to 'X', project_node_approval_path(data_item), method: :delete, class: 'btn btn-default btn-xs', title: 'Undo', remote: true, rel: 'tooltip', data: { placement: 'left', container: 'body' } %>
        </div>
      <% end %>
    <% end %>
  </div>
</td>
<script type="text/javascript">
  jQuery("a.governance-tool-tip").tooltip();
  jQuery('a').tooltip();
</script>
