<%
  project = release.project
%>

<%= render 'projects/transition_errors', project: project %>
<%= render 'projects/header', project: project %>

<ol class="breadcrumb">
  <li><%= link_to project.model_name.human.pluralize, team_projects_path(project.team) %></li>
  <li><%= link_to project.name, project_path(project) %></li>
  <li><%= link_to release.model_name.human.pluralize, project_path(project, anchor: '!releases') %></li>
</ol>

<%= yield %>
