<td width="45%" data-toggle="tooltip" data-placement="left" title="<%= project_dataset_level.project_dataset.dataset_name %>">
  <%= truncate(project_dataset_level.project_dataset.dataset_name) %>
</td>
<td width="5"%><%= project_dataset_level.access_level_id %></td>
<td width="15%"><%= display_level_date(project_dataset_level) %></td>
<td width="15%" id="approvals_<%=dom_id(project_dataset_level)%>">
  <!-- TODO clean this up -->
<% if ProjectDataset.dataset_approval(current_user).include?(project_dataset_level.project_dataset) && !project_dataset_level.level_2_3_default? %>
  <% if project_dataset_level.request? %>
    <%= link_to bootstrap_icon_tag('ok'), approve_project_dataset_level_path(id: project_dataset_level.id), :method => :patch, remote: true, id: "approval_#{dom_id(project_dataset_level)}", class: 'btn btn-success btn-sm  rce_item' %>
    <%= link_to bootstrap_icon_tag('remove'), reject_project_dataset_level_path(id: project_dataset_level.id), :method => :patch, remote: true, class: 'btn btn-danger btn-sm reject_data_source_item' %>
  <% else %>
    <span id="dataset_level_status" class="label label-<%= cas_approval_button_style(project_dataset_level.status_id) %>"><%= cas_approval_button_message(project_dataset_level.status_id) %></span>
  <% end %>
<% elsif project_dataset_level.project.owner == current_user && project_dataset_level.renewable? && project_dataset_level.level_2_3_default? && ProjectDatasetLevel.same_access_level_levels(project_dataset_level).none?(&:request?) %>
    <span id="dataset_level_status" class="label label-<%= cas_approval_button_style(project_dataset_level.status_id) %>" style="float: left"><%= cas_approval_button_message(project_dataset_level.status_id) %></span>
    <%= button_to 'Renew', renew_project_dataset_level_path(:id => project_dataset_level.id), method: :patch, remote: true, class: 'btn btn-default btn-xs', title: 'Renew', rel: 'tooltip', "data-placement" => "left", style: "float: left" %>
<% elsif project_dataset_level.project.owner == current_user && project_dataset_level.renewable? && ProjectDatasetLevel.same_access_level_levels(project_dataset_level).none?(&:request?) %>
  <span id="dataset_level_status" class="label label-<%= cas_approval_button_style(project_dataset_level.status_id) %>" style="float: left"><%= cas_approval_button_message(project_dataset_level.status_id) %></span>
  <%= button_tag 'Renew', class: 'btn btn-default btn-xs', rel: 'tooltip', "data-placement" => "left", data: { toggle: 'modal', target: "\#modal-renewal" }, style: "float: left" %>
    <% content_for :modals do %>
      <%= render 'project_dataset_levels/modal_renewal', project_dataset_level: project_dataset_level, type: 'Renewal' %>
    <% end %>
<% elsif project_dataset_level.project.owner == current_user && project_dataset_level.level_2_3_default? && project_dataset_level.reappliable? %>
  <span id="dataset_level_status" class="label label-<%= cas_approval_button_style(project_dataset_level.status_id) %>" style="float: left"><%= cas_approval_button_message(project_dataset_level.status_id) %></span>
  <%= button_to 'Reapply', reapply_project_dataset_level_path(:id => project_dataset_level.id), method: :patch, remote: true, class: 'btn btn-default btn-xs', title: 'Reapply', rel: 'tooltip', "data-placement" => "left", style: "float: left" %>
<% elsif project_dataset_level.project.owner == current_user && project_dataset_level.reappliable? %>
  <span id="dataset_level_status" class="label label-<%= cas_approval_button_style(project_dataset_level.status_id) %>" style="float: left"><%= cas_approval_button_message(project_dataset_level.status_id) %></span>
  <%= button_tag 'Reapply', class: 'btn btn-default btn-xs', rel: 'tooltip', "data-placement" => "left", data: { toggle: 'modal', target: "\#modal-reapply" }, style: "float: left" %>
    <% content_for :modals do %>
      <%= render 'project_dataset_levels/modal_reapply', project_dataset_level: project_dataset_level, type: 'Reapplication' %>
    <% end %>
<% else %>
  <span id="dataset_level_status" class="label label-<%= cas_approval_button_style(project_dataset_level.status_id) %>"><%= cas_approval_button_message(project_dataset_level.status_id) %></span>
<% end %>
</td>
<% if project_dataset_level.request? %>
  <td width="10%" id='request_type'><%= display_request_type(project_dataset_level)%></td>
<% else %>
  <td width="10%" id='decision_date'><%= project_dataset_level.decided_at&.strftime('%d/%m/%Y') %></td>
<% end %>
