<td><%= project_dataset_level.project_dataset.dataset_name %></td>
<td><%= project_dataset_level.access_level_id %></td>
<td><%= display_level_date(project_dataset_level) %></td>
<td id="approvals_<%=dom_id(project_dataset_level)%>">
<% if ProjectDataset.dataset_approval(current_user).include? project_dataset_level.project_dataset %>
  <% if project_dataset_level.approved.nil? %>
    <%= link_to bootstrap_icon_tag('ok'), approve_project_dataset_level_path(id: project_dataset_level.id, "project_dataset_level[decided_at]" => Time.zone.now, "project_dataset_level[approved]" => 'true'), :method => :patch, remote: true, id: "approval_#{dom_id(project_dataset_level)}", class: 'btn btn-success btn-sm  rce_item' %>
    <%= link_to bootstrap_icon_tag('remove'), project_dataset_level_path(id: project_dataset_level.id, "project_dataset_level[decided_at]" => Time.zone.now, "project_dataset_level[approved]" => 'false'), :method => :patch, remote: true, class: 'btn btn-danger btn-sm reject_data_source_item' %>
  <% else %>
    <span id="dataset_level_status" class="label label-<%= approval_button_style(project_dataset_level.approved) %>"><%= approval_button_message(project_dataset_level.approved) %></span>
    <%= link_to 'X', project_dataset_level_path(:id => project_dataset_level.id, "project_dataset_level[approved]" => ''), method: :patch, remote: true, class: 'btn btn-default btn-xs', title: 'Undo', rel: 'tooltip', "data-placement" => "left" %>
  <% end %>
<% elsif project_dataset_level.project.owner == current_user && project_dataset_level.approved == false %>
  <span id="dataset_level_status" class="label label-<%= approval_button_style(project_dataset_level.approved) %>"><%= approval_button_message(project_dataset_level.approved) %></span>
  <%= link_to 'Reapply', reapply_project_dataset_level_path(:id => project_dataset_level.id, "project_dataset_level[approved]" => ''), method: :patch, remote: true, class: 'btn btn-default btn-xs', title: 'Reapply', rel: 'tooltip', "data-placement" => "left" %>
<% else %>
  <span id="dataset_level_status" class="label label-<%= approval_button_style(project_dataset_level.approved) %>"><%= approval_button_message(project_dataset_level.approved) %></span>
<% end %>
<td id='decision_date'><%= project_dataset_level.decided_at&.strftime('%d/%m/%Y') %></td>
</td>