<td><%= project_dataset_level.project_dataset.dataset_name %></td>
<td><%= project_dataset_level.access_level_id %></td>
<td><%= display_level_date(project_dataset_level) %></td>
<% if current_projects %>
  <td id='request_type'><%= display_request_type(project_dataset_level)%></td>
<% end %>
<td id="approvals_<%=dom_id(project_dataset_level)%>">
  <!-- TODO clean this up -->
<% if ProjectDataset.dataset_approval(current_user).include?(project_dataset_level.project_dataset) && !project_dataset_level.level_2_3_default? %>
  <% if project_dataset_level.approved.nil? %>
    <%= link_to bootstrap_icon_tag('ok'), approve_project_dataset_level_path(id: project_dataset_level.id, "project_dataset_level[decided_at]" => Time.zone.now, "project_dataset_level[approved]" => 'true'), :method => :patch, remote: true, id: "approval_#{dom_id(project_dataset_level)}", class: 'btn btn-success btn-sm  rce_item' %>
    <%= link_to bootstrap_icon_tag('remove'), reject_project_dataset_level_path(id: project_dataset_level.id, "project_dataset_level[decided_at]" => Time.zone.now, "project_dataset_level[approved]" => 'false'), :method => :patch, remote: true, class: 'btn btn-danger btn-sm reject_data_source_item' %>
  <% else %>
    <span id="dataset_level_status" class="label label-<%= approval_button_style(project_dataset_level.approved) %>"><%= approval_button_message(project_dataset_level.approved) %></span>
  <% end %>
<% elsif project_dataset_level.project.owner == current_user && project_dataset_level.renewable? && project_dataset_level.level_2_3_default? %>
    <span id="dataset_level_status" class="label label-<%= approval_button_style(project_dataset_level.approved) %>"><%= approval_button_message(project_dataset_level.approved) %></span>
    <%= link_to 'Renew', renew_project_dataset_level_path(:id => project_dataset_level.id), method: :patch, remote: true, class: 'btn btn-default btn-xs', title: 'Renew', rel: 'tooltip', "data-placement" => "left" %>
<% elsif project_dataset_level.project.owner == current_user && project_dataset_level.renewable? %>
  <span id="dataset_level_status" class="label label-<%= approval_button_style(project_dataset_level.approved) %>"><%= approval_button_message(project_dataset_level.approved) %></span>
  <%= button_tag 'Renew', class: 'btn btn-default btn-xs', rel: 'tooltip', "data-placement" => "left", data: { toggle: 'modal', target: "\#modal-renewal" } %>
    <% content_for :modals do %>
      <%= render 'project_dataset_levels/modal_renewal', project_dataset_level: project_dataset_level, type: 'Renewal' %>
    <% end %>
<% elsif project_dataset_level.project.owner == current_user && project_dataset_level.approved == false && project_dataset_level.current? && project_dataset_level.level_2_3_default? %>
  <span id="dataset_level_status" class="label label-<%= approval_button_style(project_dataset_level.approved) %>"><%= approval_button_message(project_dataset_level.approved) %></span>
  <%= link_to 'Reapply', reapply_project_dataset_level_path(:id => project_dataset_level.id), method: :patch, remote: true, class: 'btn btn-default btn-xs', title: 'Reapply', rel: 'tooltip', "data-placement" => "left" %>
<% elsif project_dataset_level.project.owner == current_user && project_dataset_level.approved == false && project_dataset_level.current? %>
  <span id="dataset_level_status" class="label label-<%= approval_button_style(project_dataset_level.approved) %>"><%= approval_button_message(project_dataset_level.approved) %></span>
  <%= button_tag 'Reapply', class: 'btn btn-default btn-xs', rel: 'tooltip', "data-placement" => "left", data: { toggle: 'modal', target: "\#modal-reapply" } %>
    <% content_for :modals do %>
      <%= render 'project_dataset_levels/modal_reapply', project_dataset_level: project_dataset_level, type: 'Reapplication' %>
    <% end %>
<% else %>
  <span id="dataset_level_status" class="label label-<%= approval_button_style(project_dataset_level.approved) %>"><%= approval_button_message(project_dataset_level.approved) %></span>
<% end %>
</td>
<td id='decision_date'><%= project_dataset_level.decided_at&.strftime('%d/%m/%Y') %></td>
